.ProseMirror-menu-dropdown-wrap {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 120px;
    margin-left: -1px;
    .ProseMirror-menu-dropdown {
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        padding-right: 15px;
        width: 100%;
        padding: 0 .5rem;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 5px;;

        &:after {
            content: "";
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid $steelBlue;
            opacity: .9;
            position: absolute;
            right: .5rem;
            top: calc(50% - 2px);
        }
        // background: #f0f0f0;
        background: rgb(246, 248, 250);
        &:hover {
            background: darken(rgb(246, 248, 250), 5%);
        }
    }
    .ProseMirror-menu-dropdown-menu {
        z-index: 15;
        min-width: 9.5em;
        width: 100%;
        white-space: nowrap;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        margin-top: 4px;
        animation: popOut 300ms cubic-bezier(0.19, 1, 0.22, 1);
        bottom: 36px;
        .ProseMirror-menu-dropdown-item {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            &:hover {
                border-radius: 5px;
                background: #f2f2f2;
            }
            & > div {
                padding: 0.4rem .5rem;
                display: flex;
                align-items: center;
                width: 100%;
            }
            .make-header-1 {
                font-size: 2em;
                font-weight: 500;
                color: #565e67;
            }
            .make-header-2 {
                font-size: 1.63em;
                font-weight: 500;
                color: #565e67;
            }
            .make-header-3 {
                font-size: 1.5em;
                font-weight: 500;
                color: #565e67;
            }
            .make-header-4 {
                font-size: 1.3em;
                font-weight: 500;
                color: #565e67;
            }
            .make-header-5 {
                font-size: 1.1em;
                font-weight: 500;
                color: #565e67;
            }
            .make-header-6 {
                font-size: 1.03em;
                font-weight: 500;
                color: #565e67;
            }

            .ProseMirror-menu-disabled {
                opacity: 1;
                position: relative;
            }
            .ProseMirror-menu-current-active {
                cursor: default;
                position: relative;
                width: 100%;
                color: #565e67;
                background: #eceff1;
                &.make-header-1, &.make-header-2, &.make-header-3, &.make-header-4 {
                    font-style: italic
                }
                .menu-item-icon {
                    display: flex;
                    align-items: center;
                    margin-left: -.5rem;
                    margin-right: .2rem;
                    svg {
                        fill: $steelBlue;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}


//TODO the shit below is for nested dropdown items, not used at the moment, yet to be refactored

.ProseMirror-menu-dropdown-menu, .ProseMirror-menu-submenu {
	position: absolute;
	background: white;
	color: #666;
	box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, .001), 2px 3px 6px rgba(0, 0, 0, .2)
}

.ProseMirror-menu-submenu-wrap {
	position: relative;
	margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
	content: "";
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid currentColor;
	opacity: .6;
	position: absolute;
	right: 4px;
	top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
	display: none;
	min-width: 4em;
	left: 100%;
	top: -3px;
}
