@import './Dropdown.scss';

.ProseMirror-menubar-wrapper {
	height: 100%;
	width: 100%;
    // padding-top: 36px;;
    // padding-bottom: 36px;;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu, .ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
	display: block;
}

.ProseMirror-menubar {
    display: none !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 36px;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	// position: relative;
	color: #666;
	color: rgba(0,0,0,.7);
	background: white;
    // background: rgba(255, 255, 255, 0.5);
    // backdrop-filter: blur(10px);
	z-index: 10;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: visible;
	user-select: none;
	display: flex;
	align-items: center;
	padding: 6px 0 6px 15rem;
    // box-shadow: 0 0 .05rem 0 rgb(69 76 82 / 100%);    // Border bottom for menubar
	align-items: stretch;
	.ProseMirror-menuitem {
		display: flex;
		align-items: center;
		margin: 4px 2px;
		&, .ProseMirror-icon {
			border-radius: 5px;
		}
		.ProseMirror-icon {
			cursor: pointer;
			color: #5f6368;
			height: 28px;
			width: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
            box-sizing: content-box;
            // background: #f0f0f0;
            background: rgb(246, 248, 250);
            &:hover {
                background: darken(rgb(246, 248, 250), 5%);
            }
		}
		.ProseMirror-icon.ProseMirror-menu-active {
			cursor: default;
			background: #e8f0fe;
            box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.1);
		}
        .ProseMirror-menu-disabled {
            // opacity: .6;
            // fill: red;
            cursor: default;
            cursor: not-allowed;
            svg {
                fill: lighten($steelBlue, 40%) !important;
            }
        }
        .ProseMirror-menu-current-active {
            cursor: default;
            opacity: 1;
            background: #eceff1;
        }
		svg {
            fill: $steelBlue;
			width: 100%;
			height: 100%;
            max-width: 24px;
            // max-height: 24px;
            padding: 1px 1px;
		}
        span {
            vertical-align: text-top;
        }
        .undo-item, .redo-item {
            svg {
                max-height: 21px;
            }
        }
        .toggle-bold, .toggle-italic {
            svg {
                max-height: 12px;
            }
        }
        .toggle-inline-code {
            svg {
                max-width: 20px;
            }
        }
        .make-code-block {
            svg {
                max-height: 1rem;
            }
        }
        .insert-image {
            svg {
                max-height: 19px;
            }
        }
        .toggle-link {
            svg {
                max-height: 14px;
            }
        }
        .wrap-blockquote {
            svg {
                max-height: 20px;
                transform: translateY(1px);
            }
        }
        .insert-horizontal-rule {
            svg {
                max-width: 17px;
            }
        }
        .join-up-item {
            svg {
                max-height: 21px;
                transform: rotate(90deg);
            }
        }
        .lift-item {
            svg {
                max-height: 21px;
                transform: rotate(90deg);
            }
        }
	}
}

.ProseMirror-menu-disabled.ProseMirror-icon {
	cursor: default;
}

.ProseMirror-menu {
	margin: 0 -4px;
	line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
	width: -webkit-fit-content;
	width: fit-content;
	white-space: pre;
}

.ProseMirror-menuseparator {
	height: 100%;
	width: 9px;
}
