@use 'sass:color';

$lixpiColor: #92b56f;

$solarizedNightBlue: #42494f;
$solarizedSteelBlue: #5d656d;

// $gptBrandColor: #5bbf97;
// $aiGreen: #56967c;
// $darkPastelGreen: #55967c;    // Create new element button color
// $light-grey: #aeaeae;

$solarizedOffWhite: #f5f3f3;
$solarizedOffWhiteMuted: #bfbfbf;


// Main app configutation ################################################################################
$mainBackgroundColor: $solarizedOffWhite;
$mainAccentColor: $solarizedNightBlue;

// Typography
// $main-text-color: #5d5d5d;
$mainTextColor: #374151;
$secondaryTextColor: #8a8a8a;

//END Main app configutation #############################################################################



// Components ############################################################################################

// Dropdown component
// For the cases when dropdown is located on non-white background
$dropdownLightThemeIconColor: $solarizedNightBlue;
$dropdownLightThemeIconColorHover: $solarizedNightBlue;
$dropdownLightThemeIconColorActive: color.adjust($solarizedNightBlue, $lightness: -5%);
$dropdownLightThemeIconBackgroundColorHover: $solarizedSteelBlue;
$dropdownLightThemeIconBackgroundColorActiveHover: transparent;
$dropdownLightThemeSubmenuBackgroundColor: #fff;
$dropdownLightThemeSubmenuTextColor: $solarizedNightBlue;
$dropdownLightThemeSubmenuBorderColor: $solarizedSteelBlue;
$dropdownLightThemeSubmenuBoxShadow: .05rem .05rem 7px 0px rgba(0,0,0,.2);

// For the cases when dropdown is located on white background
$dropdownDarkThemeIconColor: $solarizedSteelBlue;
$dropdownDarkThemeIconColorHover: $solarizedSteelBlue;
$dropdownDarkThemeIconColorActive: color.adjust($solarizedNightBlue, $lightness: -5%);
$dropdownDarkThemeIconBackgroundColorHover: $solarizedSteelBlue;
$dropdownDarkThemeIconBackgroundColorActiveHover: transparent;
$dropdownDarkThemeSubmenuBackgroundColor: $solarizedOffWhite;
$dropdownDarkThemeSubmenuTextColor: $solarizedNightBlue;
$dropdownDarkThemeSubmenuBorderColor: $solarizedSteelBlue;
$dropdownDarkThemeSubmenuBoxShadow: .05rem .05rem 7px 0px rgba(0,0,0,.2);
//END Dropdown component



// Sidebar sectioin ############################################################################################
$sidbarBackgroundColor: #42494f;
$sidebarTextColor: #fff;
$sidebarLogoFiler: invert(100%);
$sidebarProjectsScrollContainerBackgroundColor: color.adjust($solarizedNightBlue, $lightness: 1%);

// ProjectRow component
$projectRowBackgroundColor: #444c52;
// $projectRowBoxShadow: 0px 0px 10px 0 rgba(0, 0, 0, .05);
$projectRowSeparatorLineFallbackColor: rgba(0, 0, 0, .05);
$projectRowSeparatorLineGradientColor: linear-gradient(90deg, rgba(234,234,234,1) 0%, rgba(234,234,234,1) 55%, rgba(255,255,255,1) 100%);
$projectRowActiveBackgroundColor: #222931;
$projectRowHoverBackgroundColor: color.adjust($solarizedNightBlue, $lightness: 6%);
$projectTitleColor: #f3f3f3;
$projectRowWrapperBoxShadow: 0 0 7px 0 rgba(0,0,0,.02);
$projectRowBorderRadius: 8px;

$projectRowDropdownSubmenuColor: $solarizedOffWhite;
$projectRowDropdownColor: $solarizedNightBlue;



// CodeMirror ############################################################################################
$aiResponseMessageIndicatorColor: color.adjust($solarizedSteelBlue, $lightness: 35%);
$aiResponseMessageIndicatorAccentPointerColor: color.adjust($solarizedSteelBlue, $lightness: 30%);
$aiResponseMessageIndicatorBoundariesWidth: 1px;
$inlineCodeTextColor: #ec6079;

// CodeMirror ############################################################################################
$codeBlockBackgroundColor: #222931;

//END CodeMirror #########################################################################################


// Typography ############################################################################################
$headingsColor: #202123;
// END Typography ########################################################################################









